@import './var';

.button {
    padding: 0.6rem 1rem;
    border: none;
    background-color: rgba(black, 0.3);
    cursor: pointer;
    transition: 75ms all ease-in-out;
    border-radius: 0.6rem;
    display: inline-block;
    min-width: 11rem;
    
    &:focus {
        outline: 0.2rem solid $prime;
    }

    &:hover {
        background-color: rgba(black, 0.4);
    }
}
.animatable {
    animation: slidein 200ms ease-in-out 175ms forwards;
    opacity: 0;
    transform: translateY(-0.5rem);
}

label.toggle {
    height: 2rem;
    line-height: 2rem;
    cursor: pointer;
    display: flex;

    input {
        display: none;
    }

    &[disabled] {
        cursor: default;
        span {
            opacity: 0.5;
        }
    }

    $size: 1.6rem;
    span.switch  {
        height: 2rem;
        width: 4rem;
        display: inline-block;
        position: relative;
        border-radius: 3.4rem;
        transition: opacity 150ms;
        outline: 1px solid #4d4d4d;
        margin: 0 0 0 1rem;
        
        &::after {
            content: "";
            position: absolute;
            height: $size;
            width: $size;
            background-color: black;
            border-radius: 100%;
            top: ((2rem/2) - ($size/2));
            left: 0.2rem;    
            transition: left 250ms, transform 200ms;
        }
    }

    input:checked + span.switch {
        outline: 1px solid $prime;
        background-color: $prime;
        &::after {
            left: (4rem - 0.2rem - $size);
            background-color: white;
        }
    }

    &:hover span.switch::after {
        transform: scale(1.1);
    }
}

label.checkbox {
    display: inline-block;
    padding: 0 0 0 2.8rem;
    margin: 0 0 1rem 0;
    position: relative;
    height: 2.2rem;
    line-height: 2.2rem;
    cursor: pointer;
    overflow: hidden;

    input {
        position: fixed;
        top: -100px;
        left: -100px;
    }

    span.check {
        position: absolute;
        top: 0;
        left: 0;
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 0.4rem;
        display: block;
        background-color: #f3f3f3;
        border: 1px solid $gray;
        overflow: hidden;

        &::before {
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            color: black;
            font-family: iconfont;
        }
    }

    input:focus + span.check {
        border: 1px solid $prime;
    }

    input:checked + span.check::before {
        content: "\ea69";
    }
}

label.slider {
    display: flex;

    div.slider-container {
        height: 2rem;
        width: 25rem;
        position: relative;
        padding: 0.8rem;
        margin: 0 0 0 1rem;
    
        div.track {
            position: absolute;
            top: 0.8rem;
            left: 0.8rem;
    
            &, div.track-background, div.track-fill {
                height: 4px;
                width: (25rem - (2*0.8rem));
            }
    
            div.track-background, div.track-fill {
                position: absolute;
                border-radius: 4px;
            }
    
            div.track-background {
                background-color: $gray;
            }
    
            div.track-fill {
                background-color: $prime;
                transform-origin: left center;
            }
        }
    
        span.background {
            left: 2rem;
            width: calc(100% - 4rem);
            height: .7rem;
            background-color: #dbdbdb;
            border-radius: 2rem;
            position: relative;
            overflow: hidden;
            
            span.slider {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                border-radius: 2rem;
                background-color: $red;
            }
            z-index: 1;
        }
        span.padding-contanier {
            position: absolute;
            top: 50%;
            left: 2rem;
            width: calc(100% - 4rem);;
            height: 4.7rem;
            box-sizing: content-box;
            transform: translateY(-50%);
            z-index: 5;
        }
    
        span.handle {
            position: absolute;
            height: 1.4rem;
            width: 1.4rem;
            left: 0;
            top: calc((2rem / 2) - (1.4rem / 2));
            border-radius: 100%;
            background-color: $prime;
            transition: transform 100ms ease-in-out;
        }
    
        &:hover:not([active]) span.handle {
            transform: scale(1.25);
        }
    
        cursor: pointer;
    }    
}

button.tooltip-button {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
}

div.tooltip {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    font-size: 1.5rem;
    color: white;
    opacity: 0.75;
    font-weight: bold;
}

div.arrow {
    visibility: hidden;

    &, &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: black;
    }

    &::before {
        content: "";
        visibility: visible;
        transform: rotate(45deg);
    }

    &.top { top: -4px; }
    &.bottom { bottom: -4px; }
    &.left { left: -4px; }
    &.right { right: -4px; }
}

div.title-bar {
    display: grid;
    grid-template-columns: auto 1fr 9.2rem;
    color: black;
    
    &.window-active { 
        color: black;
        // background-color: #d7dade; 
    }

    &.window-inactive {
        color: #6d6d6d;
        // background-color: #eaecee;
    }

    span.menu {
        padding: 3px 3px 3px 1.6rem;
        pointer-events: none;

        button.menu-back {
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 0.4rem;
            border: none;
            background: none;
            appearance: none;
            color: inherit;
            cursor: pointer;
            pointer-events: all;

            &:not(:disabled):hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:disabled {
                opacity: 0.5;
                cursor: default;
            }

            icon {
                width: 100%;
                height: 100%;
                font-size: 1.8rem;
            }
        }
    }

    div.title {
        text-align: center;
        line-height: 3.2rem;
        pointer-events: none;
        font-size: 1.2rem;
        font-weight: 500;
    }

    div.window-controls {
        display: flex;

        div { 
            font-size: 11px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: var(--hover-bg-color, rgba(0, 0, 0, 0.1));
                color: var(--hover-ic-color, black);
            }
        }
    }
}

h3.breadcrumb {
    margin: 0;
    padding: 0.7rem 1.5rem;
    display: flex;
    position: fixed;
    top: 3.2rem;
    left: 0;
    z-index: 200;
    background-color: #fafafa;
    width: 100%;

    &.hidden {
        display: none;
    }

    span {
        color: rgba(black, 0.6);
        display: flex;
        align-items: center;

        &:not(:last-child) {
            cursor: pointer;

            &::after {
                height: 2rem;
                color: rgba(black, 0.6);
                display: inline;
                margin: 0 1rem;
                content: "\ea60";
                font-family: iconfont;
                font-size: 2rem;
                transform: scale(-1, 1);
            }
            
            &:hover {
                color: black;
            }
        }

        &:last-child {
            color: black;
        }
    }
}

span.history {
    width: 22rem;
    background-color: white;
    box-shadow: 0 0 1rem $gray;
    border-radius: 0.8rem;
    padding: 0.4rem;
    font-size: 1.4rem;
    z-index: 2000;

    &.hidden {
        display: none;
    }

    span.item {
        display: block;
        border-radius: 0.4rem;
        padding: 0.7rem 1rem;

        &:not(:first-child) {
            cursor: pointer;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }

        &:not(:last-child) {
            margin-bottom: 0.4rem;
        }
    }
}

div.expension-group {
    border-radius: 0.6rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    
    div.expansion-container {
        display: flex;
        flex-direction: column;
        
        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }

        &[has-icon] button.expansion-button {
            padding-left: 5rem;
        }

        button.expansion-button {
            padding: 1.6rem 2rem;
            background-color: white;
            appearance: none;
            outline: none;
            border: none;
            text-align: left;
            font-size: 1.4rem;
            cursor: pointer;
            color: black;
            display: flex;
            align-items: center;
            transition: transform 100ms ease-in-out;
            position: relative;

            &:not(:last-child) {
                margin-bottom: 0.3rem;
            }

            &:hover {
                background-color: #dbdbdb;
                transform: scaleX(1.005);
            }

            &::after {
                content: "";
                position: relative;
                width: 1.5rem;
                height: 1.5rem;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' %3e%3cpath fill='%234d4d4d' fill-rule='evenodd' stroke='%234d4d4d' stroke-width='1.5' stroke-linecap='round' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-size: 1.5rem;
                transition: transform 200ms ease-in-out;
                color: green;
            }

            span {
                display: flex;
                flex-direction: column;

                h3.main-content {
                    font-weight: 500;
                    font-size: 1.4rem;
                    margin: 0;
                }
            
                span.description {
                    font-size: 1.2rem;
                    display: inline-block;
                    color: rgba(black, 0.6);
                    font-weight: 500;
                }
            }

            span.icon-container {
                position: absolute;
                top: 1rem;
                left: 0.75rem;
                bottom: 1rem;
                width: 3.5rem;
                
                icon {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
        
                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            div.buttons {
                button.action-button {
                    width: 2rem;
                    height: 2rem;
                    border: none;
                    background: none;
                    appearance: none;
                    color: inherit;
                    cursor: pointer;
                    pointer-events: all;
                    position: relative;
                    margin-right: (0.3rem + 0.5rem);
    
                    span.background {
                        border-radius: 0.4rem;
                        content: "";
                        position: absolute;
                        box-sizing: content-box;
                        width: 100%;
                        height: 100%;
                        padding: 0.3rem;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.2);
                        }
                    }
        
                    icon {
                        width: 100%;
                        height: 100%;
                        font-size: 1.8rem;
                        position: relative;
                        z-index: 1;
                        color: #4d4d4d;
                        pointer-events: none
                    }
                }
            }
        }

        div.container-item {
            @extend .animatable;
            padding: 1.2rem 2rem 1.2rem 4rem;
            background-color: white;
            display: flex;
            justify-content: space-between;
        
            &:not(:last-child) {
                margin-bottom: 0.2rem;
            }
        }
        
        div.contanier-box {
            @extend .animatable;
            padding: 1.2rem 2rem;
            background-color: white;
            overflow: hidden;
        
            &:not(:last-child) {
                margin-bottom: 0.2rem;
            }
        }

        &[expanded] button.expansion-button::after {
            transform: rotate(180deg);
        }
    }
}

div.expand {
    flex-grow: 1;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-0.5rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

$dist: 4.9rem + 3.2rem;
div.scrollbar {
    position: fixed;
    right: 0;
    height: calc(100vh - $dist);
    width: 6px;
    top: $dist;
    z-index: 2;
    pointer-events: none;
    background-color: #fafafa;
    padding: 1rem 0;

    &.hidden {
        display: none;
    }

    span.slider {
        background-color: #4d4d4d;
        position: relative;
        display: block;
        width: 100%;
        border: 2px solid #fafafa;
        border-radius: 5rem;
    }

    &[hover] span.slider {
        background-color: red;
    }

}

button.action {
    appearance: none;
    border: none;
    background-color: white;
    border-radius: 0.6rem;
    width: 100%;
    padding: 1rem 1.5rem 1rem 5rem;
    text-align: left;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;

    &:hover {
        background-color: #dbdbdb;
    }

    h3.main-content {
        font-weight: 500;
        font-size: 1.4rem;
        margin: 0;
    }

    span.description {
        font-size: 1.2rem;
        display: inline-block;
        color: rgba(black, 0.6);
        font-weight: 500;
    }

    span.hover-arrow {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: calc(50% - (1.5rem/2));
        right: 5rem;

        &::after, &::before {
            position: absolute;
            content: "";
            top: 50%;
            left: 105%;
            width: 1.1rem;
            height: 0.15rem;
            transform: translate(-1rem, -50%);
            transform-origin: right center;
            transition: all 250ms ease-in-out;
            background-color: black;
            opacity: 0;
        }
    }

    span.icon-container {
        position: absolute;
        top: 1rem;
        left: 0.75rem;
        bottom: 1rem;
        width: 3.5rem;
        
        icon {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &:hover span.hover-arrow {
        &::after, &::before {
            opacity: 1;
        }
        &::before {
            transform: translate(0, -40%) rotate(30deg);
        }
        &::after {
            transform: translate(0, -60%) rotate(-30deg);
        }
    }
}

$main-animation-time: 4s;
span.progress-spinner {
    svg {
        animation: pslr ($main-animation-time/2) linear infinite;

        circle {
            stroke-width: 10%;
            stroke: $prime;
            fill: rgba(black, 0);
            stroke-dasharray: 282.743;
            stroke-linecap: round;
            transform-origin: 50% 50%;
            animation-name: pssr;
            animation-duration: $main-animation-time;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
        }
    }
}

$pi: 3.14159265;

$radius: 45;
$circumference: $pi * $radius * 2;

$start: (1 - 0.05) * $circumference;
$end: (1 - 0.8) * $circumference;

// progress spinner stroke rotate
@keyframes pssr {
  0%        { stroke-dashoffset: $start;  transform: rotate(0); }
  12.5%     { stroke-dashoffset: $end;    transform: rotate(0); }
  12.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(72.5deg); }
  25%       { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(72.5deg); }

  25.0001%   { stroke-dashoffset: $start;  transform: rotate(270deg); }
  37.5%      { stroke-dashoffset: $end;    transform: rotate(270deg); }
  37.5001%   { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(161.5deg); }
  50%        { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(161.5deg); }

  50.0001%  { stroke-dashoffset: $start;  transform: rotate(180deg); }
  62.5%     { stroke-dashoffset: $end;    transform: rotate(180deg); }
  62.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(251.5deg); }
  75%       { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(251.5deg); }

  75.0001%  { stroke-dashoffset: $start;  transform: rotate(90deg); }
  87.5%     { stroke-dashoffset: $end;    transform: rotate(90deg); }
  87.5001%  { stroke-dashoffset: $end;    transform: rotateX(180deg) rotate(341.5deg); }
  100%      { stroke-dashoffset: $start;  transform: rotateX(180deg) rotate(341.5deg); }
}


// progress spinner linear rotate
@keyframes pslr {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}