html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  // background-color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
  color: black;
  user-select: none;
  font-size: 10px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: .7rem 0;
  font-weight: 500;
}

p {
  margin: 0.5rem 0;
}

div, span, button {
  padding: 0;
  margin: 0;
}

button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
}

#app {
  height: 100%;
  margin: 0 1.5rem;

  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  // padding-top: 100px;
}
