@import url(assets/iconfont.css);

$font: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: $font;
  color: black;
  user-select: none;
  font-size: 10px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: .7rem 0;
  font-weight: 600;
}

h1 { font-size: 3.4rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.6rem; }
h4 { font-size: 2.2rem; }
h5 { font-size: 1.8rem; }
h6 { font-size: 1.4rem; }

p {
  margin: 0.5rem 0;
}

div, span, button {
  padding: 0;
  margin: 0;
}

button, input, textarea {
  font-family: $font;
  font-size: 1.4rem;
}

$breadcrumb-diff: (3.5rem + 2*0.7rem);
#app {
  height: 100%;

  font-size: 1.4rem;
  display: grid;
  grid-template-rows: 3.2rem auto;
  overflow: hidden;

  #page-content {
    height: 59.8rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

body[breadcrumb-active] #app #page-content {
  margin-top: $breadcrumb-diff;
  height: (59.8rem - $breadcrumb-diff);
}

.page-container {
  margin: 0 2rem;
  padding: 1rem 0;
}
