@import url(assets/iconfont.css);

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fcfcfc;
  // background-color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
  color: black;
  user-select: none;
  font-size: 10px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: .7rem 0;
  font-weight: 400;
}

h1 { font-size: 4.2rem; }
h2 { font-size: 3.4rem; }
h3 { font-size: 2.6rem; }
h4 { font-size: 2.2rem; }

p {
  margin: 0.5rem 0;
}

div, span, button {
  padding: 0;
  margin: 0;
}

button, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
}

#app {
  height: 100%;

  font-size: 1.4rem;
  display: grid;
  grid-template-rows: 3.6rem auto;

  #page-content {
    overflow: hidden;
  }
}
