@import '../var';

.space-filler {
    width: 100%;
    height: 100%;
}

.h-center {
    display: flex;
    align-items: center;
    flex-direction: column
}

.center {
    @extend .space-filler;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    height: 5rem;
    padding: 0 2rem;
    border: none;
    background-color: $prime;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    font-weight: 600;
    transition: 100ms ease-in-out background;

    &:hover {
        background-color: darken($prime, 5%);
    }
}

.box {
    padding: 0.5rem;
    margin: 1rem;
    border: 1.2pt solid $gray;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    // overflow: scroll;
}

.columns {
    @extend .space-filler;
    display: flex;
    flex-direction: row;

    div:not(:last-child) {
        border-right: 1.2pt solid $gray;
    }
    
    div {

        padding: 0 0.5rem;
    }
}

.expandable-container {
    div:not(.expanded) {
        display: none;
    }

    span {
        padding: 1rem 0;
        color: #808080;
        text-transform: uppercase;
        font-weight: 550;
        cursor: pointer;
    }
}

blockquote {
    border-left: 2pt solid $gray;
    margin: 1rem 0;
    padding: 0.5rem 10px;
}

label.toggle {
    display: inline-block;
    padding: 0 0 0 5.5rem;
    margin: 0 0 1rem 0;
    position: relative;
    height: 2.2rem;
    line-height: 2.2rem;
    cursor: pointer;

    input {
        display: none;
    }

    &[disabled] {
        cursor: default;
        span {
            opacity: 0.5;
        }
    }

    $size: 2.8rem;
    span.switch  {
        height: 1.8rem;
        width: 4.5rem;
        display: block;
        position: absolute;
        background-color: $gray;
        border-radius: 3.4rem;
        top: 0;
        left: 0;
        transition: opacity 150ms;
        
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: lighten($prime, 35%);
            width: $size/2;
            border-top-left-radius: 3.4rem;
            border-bottom-left-radius: 3.4rem;

            transition: width 250ms;
        }
        &::after {
            content: "";
            position: absolute;
            height: $size;
            width: $size;
            background-color: white;
            border-radius: 100%;
            top: ((1.8rem/2) - ($size/2));
            left: 0;    
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
            transition: all 250ms;
        }
    }

    input:checked + span.switch::before {
        width: calc(100% - ($size/2));
    }

    input:checked + span.switch::after {
        transform: translateX((4.5rem - $size));
        background-color: $prime;
    }
}

div.slider-container {
    height: 5rem;
    width: 24rem;
    display: flex;
    align-items: center;
    position: relative;

    span.background {
        left: 2rem;
        width: calc(100% - 4rem);
        height: .7rem;
        background-color: #dbdbdb;
        border-radius: 2rem;
        position: relative;
        overflow: hidden;
        
        span.slider {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 2rem;
            background-color: $red;
        }
        z-index: 1;
    }
    span.padding-contanier {
        position: absolute;
        top: 50%;
        left: 2rem;
        width: calc(100% - 4rem);;
        height: 4.7rem;
        box-sizing: content-box;
        // background-color: rgba(128, 0, 128, 0.5);
        transform: translateY(-50%);
        z-index: 5;
    }

    span.handle {
        position: absolute;
        height: 4rem;
        width: 4rem;
        top: calc(50% - 2rem);
        border-radius: 100%;
        background-color: $red;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    cursor: pointer;
}


button.tooltip-button {
    cursor: pointer;
    width: 100%;
    background: none;
    border: none;
}

div.tooltip {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: black;
    font-size: 1.5rem;
    color: white;
    opacity: 0.75;
    font-weight: bold;
}

div.arrow {
    visibility: hidden;

    &, &::before {
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: black;
    }

    &::before {
        content: "";
        visibility: visible;
        transform: rotate(45deg);
    }

    &.top { top: -4px; }
    &.bottom { bottom: -4px; }
    &.left { left: -4px; }
    &.right { right: -4px; }
}

