@import '../var';


.grid-view {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.word-box {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    span.word {
        height: 5rem;
        padding: 0 2rem;
        color: white;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        display: inline-grid;
        position: relative;


        @each $class, $color in ("blue": $prime, "gray": $gray, "red": "#f00000", "green": darken($green, 15%)) {
            &.#{$class} { background-color: #{$color}; }
        }

        &.suggestion-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        &.suggestion-active::before {
            content: "";
        }

        &::before {
            bottom: 0;
            left: 1.5rem;
            position: absolute;
            height: 1pt;
            background-color: $gray;
            width: calc(100% - 3rem);
        }

        &::after {
            content: attr(data-text) " ";
            visibility: hidden;
            white-space: pre-wrap;
            font-family: 'Helvetica Neue', arial, sans-serif;
            font-size: 2.5rem;
            grid-area: 1/2;
        }

        input {
            width: auto;
            background: transparent;
            border: none;
            font-size: 2.5rem;
            color: white;
            padding: 0;
            margin: 0;
            font-family: 'Helvetica Neue', arial, sans-serif;
            min-width: 12rem;
            resize: none;
            appearance: none;
            grid-area: 1/2;

            &:focus {
                outline: none;
            }

            &::selection {
                color: white;
                background-color: rgba($green, 0.5);
            }
        }

        div.suggestion-container {
            min-width: 100%;
            background-color: $prime;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            display: none;
            z-index: 100;

            &.show {
                display: block;
            }

            &::before {
                left: 0;
                top: -5rem;
                width: 100%;
                height: calc(100% + 5rem);
                position: absolute;
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.85);
                z-index: -10;
                content: "";
                border-radius: 1rem;
                pointer-events: none;
            }

            .suggestion {
                height: 5rem;
                font-size: 2.5rem;
                display: inline-block;
                line-height: 5rem;
                width: 100%;
                padding: 0 2rem;

                &.selected {
                    background-color: darken($prime, 10%);
                }

                &:last-child {
                    border-bottom-left-radius: 1rem;
                    border-bottom-right-radius: 1rem;
                }
            }
        }
    }
}
