@import '../var';

div.grid-container {
    position: relative;
    height: 100%;
    
    &.form {
        display: grid;
        grid-template-rows: 26.45rem;
    }
    &.password {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    div.form-container {
        display: flex;
        flex-direction: column;

        span.error {
            color: #ff2a00;
        }

        div.status-bar {
            padding: 0.3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            h6 {
                text-align: center;
            }
        }
    }
}

div.styled-box {
    width: 100%;
    border: 0.1rem solid rgba(black, 0.2);
    border-radius: 0.8rem;
    background-color: white;
    position: relative;
    $height: 3.4rem;
    
    &:not(.simple) {
        height: 100%;
        cursor: text;
        padding: 0.6rem;
    }

    &.simple {
        padding: 1.2rem;
    }

    &.simple.flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    &:focus-within {
        border: 0.1rem solid rgba(black, 0.4);
    }

    &[disabled] {
        div.editor input {
            display: none;
        }
        cursor: default;
    }

    &[empty] div.editor:not(:focus-within)::before {
        position: absolute;
        top: 0.6rem;
        left: 0.6rem;
        font-weight: 500;
        font-size: 1.8rem;
        content: "Type your phrase ...";
        color: $gray;
        height: $height;
        line-height: $height;
    }
    
    div.editor {
        display: flex;
        flex-wrap: wrap;
        
        span.word {
            height: $height;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: $height;
            position: relative;
            padding: 0 1.6rem;
            margin-right: 0.5rem;
            margin-bottom: 1rem;

            &:not(:first-child) {
                margin-left: 0.5rem;
            }
    
            &::before { left: -0.5rem; }
            &::after { right: -0.5rem; }
    
            &::before, &::after {
                position: absolute;
                top: 0;
                height: 100%;
                width: (0.5rem + 1.6rem);
                content: "";
                z-index: 0;
            }

            .content {
                color: white;
                background-color: $prime;
                border-radius: calc($height * 0.48);
                display: block;
                z-index: 1;
                cursor: default;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 0 1.6rem;
            }

            &[invalid] .content {
                background-color: #ff2a00;
                // text-decoration: underline wavy $red;
                // color: $red;
            }
        }
    
        input {
            height: $height;
            font-weight: 500;
            font-size: 1.8rem;
            outline: none;
            border: none;
            appearance: none;
            margin: 0;
            padding: 0;
    
            &:focus {
                outline: none;
            }
        }
    }

}

div.editor-live-suggestions {
    background-color: #fcfcfc;
    border: 1px solid #4d4d4d;
    border-radius: 0.4rem;
    min-width: 15rem;
    max-height: 16.2rem;
    overflow-y: auto;
    z-index: 1000;

    &.hidden {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 0.4rem;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4rem;
        background: $gray;
    }

    span.suggestion {
        font-weight: 500;
        font-size: 1.8rem;
        display: block;
        padding: 0.4rem;
        cursor: pointer;

        b {
            font-weight: 500;
            color: $prime;
        }

        &.hover:not(.selected) {
            background-color: rgba($prime, 0.1);
        }

        &.selected {
            background-color: rgba($prime, 0.3);
        }
    }
}

@keyframes blur-slow {
    0% {
        backdrop-filter: blur(0);
    }
    100% {
        backdrop-filter: blur(5px);
    }
}
