
@import '../var';

.container {
    padding: 4rem !important;
    display: grid;
    grid-template-rows: 10rem auto 1fr 2.5rem;
    grid-template-areas: "header" "actions" "spacer" "footer";

    div.header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr 1fr;

        div.heading {
            .caption {
                font-weight: 400;
                font-size: 4.2rem;
            }
        
            .subtitle {
                font-weight: 400;
                font-size: 2.6rem;
                color: rgba(0, 0, 0, 0.65);
            }
        }

        div.cmd-links {
            padding: 1rem 0;

            $width: 2.15rem;
            a.cmd-link {
                color: $prime;
                font-size: 1.6rem;
                margin-bottom: 0.75rem;
                padding-left: $width;
                position: relative;
                cursor: pointer;

                icon {
                    position: absolute;
                    width: $width;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    &::before {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &::after {content: "...";}
            }

        }
    }

    div.actions {
        grid-area: actions;
        height: 100%;
        padding: 3rem 0 0 0;

        button:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    div.footer {
        grid-area: footer;
        text-align: center;
    }
}
